# .gitignore file for: blog/computer-science/programming-best-practices-writing-better-code
# Ignore .obsidian folder
.obsidian/

# Ignore all featured images
*.jpg

# Ignore Python Cache
__pycache__/

# Ignore desktop.ini
desktop.ini