# .gitignore file for: blog

## Ignore .vscode folder on all categories using ** wildcard
**/.vscode/

# Ignore screenshots folder on all category subfolders using ** wildcard
**/screenshots/

# Ignore all byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Ignore all virtual envs (termination venv)
**/*_env/
**/*_venv/

# Ignore .obsidian folder on main folder
.obsidian/

# Ignore all featured images and plots
**/**/featured_images/

# Ignore template files
templates/

# Ignore desktop.ini
desktop.ini
.Rproj.user

# Ignore .pbix files
**/*.pbix