# .gitignore file for: blog/big-data/6-big-data-file-formats-compared
# Ignore .obsidian folder
.obsidian/

# Ignore all featured images
*.jpg

# Ignore large data set
datasets/charts.csv

# Ignore performance test data sets
performance_tests/

# Ignore desktop.ini
desktop.ini